/*********** 1. Básicos ***********/
*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	background-image: url(../images/bg-body.png);
	margin: 0;
}

ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	width: 100%;
}

/*********** 1. Home ***********/
.banner{
	display: none;
}

.container{
	margin: 0 15px;
}

.logo{
	display: block;
	max-width: 180px;
	margin: 15px auto 30px;
	border-radius: 50%;
	border: solid 1px #000;
}

.toggle-nav{
	display: block;
	margin: 15px 0;
	background-color: #222;
	width: 45px;
	text-align: center;
	padding: 15px 0;
	color: #fff;
	font-size: 1.2em;
}

.main-nav{
	position: fixed;
	right: -50vw;
	top: 0;
	width: 50vw;
	height: 100vh;
	background-color: #222;
	transition: 300ms;
	opacity: 0;
}

.open-nav{
	right: 0;
	opacity: 1;
}

.main-nav a{
	display: block;
	background-color: #222;
	color: #FFF;
	font-size: 1.4em;
	text-align: center;
	padding: 15px;
	border-bottom: solid 3px rgba(255,255,255,0.5)
}

.product a{
	background-color: #222;
	color: #fff;
	display: inline-block;
	padding: 15px;
	margin-bottom: 30px;
}

.main-footer a{
	display: block;
	background-color: #ec2d2d;
	color: #FFFFFF;
	padding: 15px 25px;
	margin-bottom: 3px;
	text-transform: uppercase; /* lowercase - capitalize */
}


/*********** 2. Media-Queries ***********/
@media (min-width: 700px) {
	.container{
		margin-left: auto;
		margin-right: auto;
	}
	.toggle-nav{
		display: none;
	}
	.main-nav{
		/*display: block !important;*/
		overflow: hidden;
		margin-bottom: 40px;
		position: static; /* parar quitar relative, absolute o fixed */
		opacity: 1;
		width: 100%;
		height: auto;
		background-color: transparent;
	}
	.main-nav li{
		width: 15%;
		margin: 0 0.83%;
		float: left;
		/*display: inline-block;*/
	}
	.main-nav a{
		padding-left: 0;
		padding-right: 0;
		font-size: 1.2em;
		border: none;
	}
	.new-nav a{
		background: #d51b1b;
	}
	.banner{
		display: block;
		margin-left: 0.83%;
		margin-right: 0.83%;
	}
	.vip-products{
		overflow: hidden;
	}
	.product{
		width: 48.34%;
		margin-left: 0.83%;
		margin-right: 0.83%;
		margin-top: 40px;
		float: left;
	}
}

@media (min-width: 1000px) {
	.container{
		max-width: 1200px;
	}
	.product{
		margin-left: : 0.83%;
		margin-right: 0.83%;
		width: 31.67%;
	}
	.main-footer{
		text-align: center;
		border-radius: 20px 20px 0 0;
		background: #d51b1b; /* shift command c para abrir la paleta */
		margin: 0 30px;
	}
	.main-footer li{
		display: inline-block;

	}
}
